name: Linux Compile

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo apt-get install cmake ninja-build libopencv-dev nlohmann-json3-dev snapd && sudo snap install typst
      - name: Build
        run: |
          cmake -H. -Bbuild-cmake -GNinja -DCMAKE_BUILD_TYPE=Release -DAUTO_DOWNLOAD_ZXING=ON
          cmake --build build-cmake -j
      - name: test
        run: |
          ./create-copie.sh
          ./build-cmake/parser output copies/copy.json copies/copy.png
